
script:
  - wget https://github.com/concourse/concourse/releases/download/v6.7.2/concourse-6.7.2-linux-amd64.tgz
  - tar -xzf concourse-6.7.2-linux-amd64.tgz
  - cd concourse/fly-assests
  - ls
  - tar -xzf fly-linux-amd64.tgz
